* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    font-family: 'Roboto', Verdana, sans-serif ;
}

.brand {
    display: flex;
    font-size: 36px;
    padding: 10px;    
}

.firstname {
    color: white;
    font-weight: bold;
    
}

.lastname {
    color: red;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

ul {
    background-color: red;
    padding: 10px;
}

.menu a {
    text-decoration: none; 
    color:white; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;      
}